.header {
  height: 10vh;
  display: flex;
  align-items: center;
  background-color: white;
  /* background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    #77149e 50%,
    rgba(9, 9, 9, 1) 100%
  ); */
  border-bottom: 1px solid;
}

.btn-header {
  padding: 10px;
  /* color: black; */
  color: var(--cor-fonteCinza);
  border: solid 0.1em;
  border-color: #79090900;
  font-weight: bold;
  font-size: 15px;
}

.logo-bg {
  border-radius: 100px;
  height: 8vh;
  margin-right: 15px;
}

.btn-perfil {
  width: 38px;
  height: 38px;
  border-radius: 5px;
  background-color: #f8f9fa;
}

.btn-perfil:hover {
  background-color: var(--cor-cinzaClaro);
}
