.card-item:hover {
  cursor: pointer;
}

.coluna-esquerda {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

.classificacao-temas {
  margin-right: 10px;
  padding: 3px 15px;
  border-radius: 30px;
  background-color: white;
}

.classificacao-temas:hover {
  background-color: #e9ecef;
  cursor: pointer;
}

.classificacao-temas-focus {
  background-color: #e9ecef;
  font-weight: bold;
  margin-right: 10px;
  padding: 3px 15px;
  border-radius: 30px;
}
