.card-item:hover {
  cursor: pointer;
}

.coluna-esquerda {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 80vh;
  height: 100%;
}

/* .invisible-scrollbar::-webkit-scrollbar {
  display: none;
} */

.tema-header {
  background-color: white;
  border-bottom: solid;
  border-width: 0.01em;
  border-color: var(--cor-cinzaClaro);
  height: 10vh;
  display: flex;
  align-items: center;
}

.tema-body {
  min-height: calc(80vh);
  height: 100%;
}

.classificacao-temas {
  margin-right: 10px;
  padding: 3px 15px;
  border-radius: 30px;
  background-color: white;
}

.classificacao-temas:hover {
  background-color: var(--cor-cinzaClaro);
  cursor: pointer;
}

.classificacao-temas-focus {
  background-color: var(--cor-cinzaClaro);
  font-weight: bold;
  margin-right: 10px;
  padding: 3px 15px;
  border-radius: 30px;
}
