.card-item:hover {
  cursor: pointer;
}

.tema-header {
  background-color: white;
  border-bottom: solid;
  border-width: 0.01em;
  border-color: var(--cor-cinzaClaro);
  height: 10vh;
  display: flex;
  align-items: center;
  border-bottom: 2px solid;
  border-top: 1px solid;
}

.tema-body {
  min-height: calc(80vh);
  height: 100%;
}

.classificacao-temas {
  margin-right: 10px;
  padding: 3px 15px;
  border-radius: 30px;
  background-color: white;
  color: black;
}

.classificacao-temas:hover {
  background-color: var(--cor-cinzaClaro);
  cursor: pointer;
}

.classificacao-temas-focus {
  background-color: var(--cor-cinzaClaro);
  font-weight: bold;
  margin-right: 10px;
  padding: 3px 15px;
  border-radius: 30px;
  color: black;
}

.card-lista:hover {
  cursor: pointer;
}

.card-lista {
  max-height: 200px;
}
