:root {
  --cor-background: #f0f0f0;
  --cor-cinzaClaro: #e9ecef;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #bbb white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgba(129, 129, 129, 0.123);
}

*::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 20px;
  border: 1px solid white;
}

.app-style {
  background-color: #f0f0f0;
}
