/*#region CORES*/
:root {
  /* Cores site */
  --st-background: var(--cs-zeus-1);
  --st-backgroundSecondary: var(--cs-zeus-2);

  /* fonts */
  --st-fonteTituloEscura: var(--cs-zeus-2);
  --st-fonteSubtituloEscura: var(--cs-zeus-1);
  --st-fonteTituloClara: white;
  --st-fonteSubtituloClara: var(--cs-zeus-4);

  /* PageHeader */
  --st-fontePageHeader: white;
  --st-classificacaoTemasBg: var(--cs-zeus-4);
  --st-fonteClassificacaoTemas: var(--cs-zeus-2);

  /* btns */
  --st-btn-site: var(--cs-zeus-2);
  --st-btn-site-hover: var(--cs-zeus-4);
  --st-btn-site-hover-text: var(--cs-zeus-2);
  --st-btn-icon-color: var(--cs-zeus-4);

  --st-btn-site-light: white;
  --st-btn-site-light-hover: var(--cs-zeus-4);
  --st-btn-site-light-hover-text: var(--cs-zeus-2);
  --st-btn-icon-light-color: var(--cs-zeus-2);

  /* Hera */
  --cs-q-hera: #fff5d7;
  --cs-t-hera: #ff5e6c;
  --cs-s-hera: #feb300;
  --cs-p-hera: #ffaaab;
  /* Hefesto */
  --cs-q-hefesto: #acb7ae;
  --cs-t-hefesto: #82716e;
  --cs-s-hefesto: #e4decd;
  --cs-p-hefesto: #c2b490;
  /* Apolo */
  --cs-apolo-5: #fe5f55;
  --cs-apolo-4: #feda6a;
  --cs-apolo-3: #d4d4dc;
  --cs-apolo-2: #393f4d;
  --cs-apolo-1: #1d1e22;
  /* Zeus */
  --cs-zeus-5: #e0a96d;
  --cs-zeus-4: #ddc3a5;
  --cs-zeus-3: #d4d4dc;
  --cs-zeus-2: #393f4d;
  --cs-zeus-1: #1d1e22;
}
/*#endregion CORES*/

/*#region DEFAULT*/

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #bbb white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgba(129, 129, 129, 0.123);
}

*::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 20px;
  border: 1px solid white;
}

.fw-bold {
  font-weight: bold;
  font-size: 15px;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.mr-1 {
  margin-right: 5px;
}

.mr-2 {
  margin-right: 10px;
}

.mr-3 {
  margin-right: 15px;
}

.mr-4 {
  margin-right: 20px;
}

.mr-5 {
  margin-right: 25px;
}

.ml-1 {
  margin-left: 5px;
}

.ml-2 {
  margin-left: 10px;
}

.ml-3 {
  margin-left: 15px;
}

.ml-4 {
  margin-left: 20px;
}

.ml-5 {
  margin-left: 25px;
}

/*#endregion DEFAULT*/

.app-style {
  background-color: var(--st-background);
}

/*#region DROPDOWN*/
.custom-dropdown {
  position: relative;
  display: inline-block;
}

.custom-dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99999;
  overflow: hidden;
  border-radius: 5px;
}

.custom-dropdown-content a {
  color: var(--cs-zeus-2);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.custom-dropdown-content a:hover {
  background-color: var(--cs-zeus-4);
  font-weight: bold;
}

.custom-dropdown:hover .custom-dropdown-content {
  display: block;
}
/*#endregion DROPDOWN*/

/*#region BOTOES*/
.btn-site,
.btn-site:focus {
  background-color: var(--st-btn-site);
  color: white;
}

.btn-site:hover,
.btn-site:active {
  background-color: var(--st-btn-site-hover) !important;
  color: var(--st-btn-site-hover-text) !important;
  border-color: var(--st-btn-site-hover) !important;
}

.btn-site-light,
.btn-site-light:focus {
  background-color: var(--st-btn-site-light);
  color: white;
}

.btn-site-light:hover,
.btn-site-light:active {
  background-color: var(--st-btn-site-light-hover) !important;
  color: var(--st-btn-site-light-hover-text) !important;
  border-color: var(--st-btn-site-light-hover) !important;
}
/*#endregion BOTOES*/

/*#region ICONES*/
.btn-icon,
.btn-icon:focus {
  background-color: var(--st-btn-site);
  color: var(--st-btn-icon-color);
  border: 1px solid var(--st-btn-site-hover);
}

.btn-icon:hover,
.btn-icon:active {
  background-color: var(--st-btn-site-hover) !important;
  color: var(--st-btn-site-hover-text) !important;
  border-color: var(--st-btn-site-hover) !important;
}

.btn-icon-light,
.btn-icon-light:focus {
  background-color: var(--st-btn-site-light);
  color: var(--st-btn-icon-light-color);
}

.btn-icon-light:hover,
.btn-icon-light:active {
  background-color: var(--st-btn-site-light-hover) !important;
  color: var(--st-btn-site-light-hover-text) !important;
  border-color: var(--st-btn-site-light-hover) !important;
}
/*#endregion ICONES*/

/*#region TITULOS e SUBTITULOS*/
.title-color {
  color: var(--cs-zeus-2);
}

.subtitle-color {
  color: var(--cs-zeus-5);
}
/*#endregion TITULOS e SUBTITULOS*/
